* {
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.hamburger-icon {
	color: white; 
	font-size:28px;
}

#learn-more-container {
	height: 100%;
}

#p_contact {
	font-style: italic;
	width: 100%;
}
.card {
	width: 80%;
	height: 100%;
}

.h5 {
	font-weight: normal;
}


#projects_section {
	background-color: #7F44A1;
	height: 100%;
}

#tools_section {
	background-color: #8447A7;
	height: 100%;
}

.about_myname {
	font-weight: bold;
	font-style: oblique;
	font-size: 35px;
}

.pronoun {
	font-style: italic;
}

.navbar {
	background-color: #7F44A1;
}

.jumbotron-fluid {
	background-color: #7F44A1;
	height: 80%;
}

#aboutme_container {
	background-color: #8447A7;
	height: 100%;
}

#portrait_jumbotron {
	width: 100%; 
	height: 100%;
	object-fit: cover;
	object-position: top;
}

#button_jumbotron {
	width: 10rem;
}

.aboutme_h1 {
	margin-bottom: 10px;
}

#aboutme_picture_whitebg {
	width: 280px; 
	height: 350px;
	border: 5px solid;
	margin-top: 20px;
	border-color: #FFC107;
	object-fit: cover;
	object-position: top;
	margin-left: 80px;
}

#ul_aboutme {
	list-style-type: circle;
}

#container_contact {
	background-color: #B375D6;
	height: 100%;
}

#form {
	background-color: CC8EF0;
	width: 100%;
}

.footer {
	background-color: #7F44A1;
	height: 100%;
}

.form-control {
	width: 240px;
	margin: auto;
}

.form-group {
	display: flex;
	justify-content: center;
}


.icon {
	color: white;
	text-decoration: none;
}

.button_contactform {
	margin-left: 9%;
	width: 8rem;
	height: 40px;
}

.icon-contact {
	color: white;
}

.span-footer {
	color: white;
	text-decoration: none;
}

#border-top-section {
	border-top: 3px solid;
}


@media only screen and (max-width: 480px) {
 #portrait_jumbotron {
    width: 100%;
  }
}

@media (min-width: 768px)
{
    .navbar-toggle {
        display: none;
    }

    .navbar-header button {
        display: block;
    }
}